extends base

block overlay 
    .overlay
        .overlay__content
            h2 Edit Your Review
            form(action="/save-review" method="POST")
                .form__group
                    label(for="review") Review:
                    input#review.form__input(type="text" name="review" value=`${selectedReview.review}` )
                .form__group
                    label(for="rating") Rating:
                    input#rating.form__input(type="number" name="rating" min="1" max="5" value=`${selectedReview.rating}`)
                button.btn.btn--green.btn--small(type="submit") Save